POSTGRES_DB=whitefly
POSTGRES_USER=whitefly
POSTGRES_PASSWORD=whitefly
SECRET_KEY=dsbfgusdbfsadhfbh12312432
MIN_SUBMIT_SECONDS=2
MAX_NAME_LENGTH=100
FPJS_PUBLIC_KEY=rGAnPG2TpxWzSxiSqtkj
FPJS_SERVER_API_KEY=ydHQIEHCTZyK99xeCwT4
FPJS_CONFIDENCE_THRESHOLD=0.5
FPJS_SERVER_API_BASE_URL=https://eu.fpjs.io
FPJS_VERIFY_TIMEOUT_SECONDS=3
FPJS_FAIL_OPEN=true
